[Unit]
Description=manage offnomat configuration
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/%H
ExecStart=/opt/%H/.venv/bin/python3 -u /opt/%H/admin/backend.py
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
